[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.5"
markupsafe = "==2.1.1"
django-filter = "==21.1"

[dev-packages]

[requires]
python_version = "3.10"
